@use '../../breakpoints/mixins/bp-from' as *;

@mixin horizontalScrollMobile($padding: 0, $child-selector: null) {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-padding: $padding;

  &::-webkit-scrollbar {
    display: none;
  }

  @include bpFrom(lg) {
    overflow: visible;
  }

  @if $child-selector {
    #{$child-selector} {
      scroll-snap-align: start;
    }
  }
}