@use '../../../core' as *;

.b-field {
  display: flex;
  flex-direction: column;
  gap: spacing(1);

  .label {
    @include typeset(label);
    display: block;
  }

  .control {
    display: block;
  }

  .hint {
    @include typeset(label);
    color: color(text, muted);
  }

  .error {
    @include typeset(label);
    color: color(error);
  }

  @include attr(disabled) {
    pointer-events: none;
    opacity: 0.6;
  }
}
