@use '../../../core' as *;

.b-menu {
  position: relative;

  .b-menu__links {
    display: flex;
    flex-direction: row;
    list-style: none;

    > li > a {
      display: flex;
      align-items: center;
    }
  }

  @include attr(direction, vertical) {
    .b-menu__links {
      flex-direction: column;
    }
  }

  @include attr(direction, horizontal) {
    .b-menu__links {
      flex-direction: row;
    }
  }
}
