@use '../../../core' as *;

.b-textarea {
  @include typeset(input);
  @include transition((border-color, background-color), fast);
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: spacing(2) spacing(3);
  background: color(surface);
  border: 1px solid color(line, dark);
  border-radius: 6px;
  color: color(text);
  appearance: none;
  resize: vertical;

  &::placeholder {
    color: color(text, subtle);
  }

  &:focus {
    outline: 2px solid color(primary);
    outline-offset: 2px;
    border-color: color(primary);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
    background: color(surface, alt);
    cursor: not-allowed;
  }

  @include attr(resize, none) {
    resize: none;
  }

  @include attr(resize, horizontal) {
    resize: horizontal;
  }

  @include attr(resize, both) {
    resize: both;
  }
}
